.box{
    width: 350px;
    height: 250px;
    background: rgb(105, 105, 105);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid rgb(105, 105, 105) ;
}

.bom{
    width: 350px;
    height: 250px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;

}

h1{
    padding: 0px 12px;
    font-size: 25px;
}

p.tag{
    padding: 0px 12px;
    font-size: 20px;
}

button{
    border: none;
    text-decoration: none;
    background: blue;
    padding: 8px 12px;
    font-size: 20px;
    margin: 3%;
    border-radius: 5px;
    color: white;
}